<div class="card">
    <div class="card-header dashboard-post">
       <h4 class="card-title post-title"><a class="link" href="/post/{{id}}">{{title}}</a></h4>
    </div>
        <div class="card-body post-body">
        <p class="card-body post-content">{{post_body}}</p>
         <p class="card-text post-author">Posted by <span class="post-username">{{user.username}}</span>, <a href="/post/{{id}}">{{comment.length}} Comments</a></p> 
    </div>
</div>